BasedOnStyle: Google
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: true
ColumnLimit: 160
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
IndentPPDirectives: BeforeHash
InsertBraces: true
BreakStringLiterals: false
AllowShortEnumsOnASingleLine: false
